*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 16px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
width: 116px;
height: 37px;
border: none;
outline: none;
color: #14274C;
border-radius: 13px;
cursor: pointer;
}







