.footer{
    width: 100%;
    background: #1391CE;
    .footer__wrapper{
        width: 100%;
        height: 144px;
        border: 1px solid;
        border-color: #1391CE;
        .hr{
            width: 70%;
            border: 1px solid;
            margin: auto;
            margin-top: 30px;
            border-color: white;
        }
        .footer__content{
            width: 70%;
            height: 54px;
            margin: auto;
            display: flex;
            align-items: center;
            .footer__content__item{
               
            }
        }
        .footer__text{
            width: 200px;
            height: 54px;
            margin-left: 273px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}